/* $Id$ */

/* fix playtime display */
.media-player .media-controls .player-display {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  line-height: 14px;
  word-wrap: normal; 
}